body{
	background: #282C34;
	font-family: Raleway;
}
span{
	color:#E40079;
}
.value{
	color:#fff;
}
.profile_detailes{
	margin-top: 2%;
}
.code{
	padding-left: 2%;
	color: #fff;
}
h5{
	color: #fff;
	display: inline;
}
.skills{
	width: 100%;
	margin: 0 auto;
}

nav{
	background: #E40079;
}
.skillchips{
	width: 60%;
	margin:0 auto;	
}
.chip:hover{
	background: #E40079;
	color:#fff;
}
h6{
	color:#fff;
}
.works{
	width: 60%;
	margin: 0 auto;
}
.title{
	color: #fff;
	font-size: 1.2em;
}
p{
	color:#fff;
}
.project{
	width: 60%;
	margin: 0 auto;
}
.work{
	color:#E40079;
}
.projects{
	color:#E40079;
}
.skill{
	color:#E40079;
}
footer{
	margin: 0 auto;
	width: 100%;
}
.contit{
	width: 90%;
	margin:0 auto;
}
main{
	margin: 0 auto;
	width:90%;
}
a{
	color: #E40079;
}

.material-icons{
	color:#fff;
}
.download{
	background: #E40079;
}
a:hover{
	color:rgba(0,0,0,.5);
}
.side-nav{
	width: 60%;
}
.navbar-fixed{
	top: -300px;
	left: 0;
}
@media only screen and (max-width:500px){
	
	.works{
		width: 90%;
		margin: 0 auto;
	}
	.project{
		width: 90%;
		margin: 0 auto;
	}
	.navbar-fixed{
		top: -370px;
		left: 0;
		z-index: 999;
	}
	.skillchips{
		width: 100%;
		margin:0 auto;	
	}
}